# Created by https://www.toptal.com/developers/gitignore/api/deno,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=deno,dotenv

### Deno ###
/.idea/
/.vscode/

/node_modules

.env
*.orig
*.pyc
*.swp
*.db-journal

### dotenv ###

# End of https://www.toptal.com/developers/gitignore/api/deno,dotenv
